


h2{
  text-decoration: underline;
  text-underline-offset: 5px;
  
}
.myForm, .emailForm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  width: 600px;
  padding: 1em;
  border: 1px solid #ccc;
  border-style: none;
  background-color:#F2F2F7;
  }
  .emailForm {
    border:none
    
  }
  .myForm * {
  box-sizing: border-box;
  
  }
  
  .myForm fieldset {
  border: none;
  padding: 0;

  }
  
  .myForm legend,
  .myForm label {
  padding: 0;
  font-weight: bold;
  }
  
  .myForm label.choice {
  font-size: 0.9em;
  font-weight: normal;
  
  }
  
  
  .myForm input[type="text"],
  .myForm input[type="tel"],
  .myForm input[type="email"],
  .myForm input[type="datetime-local"],
  .myForm input[type="number"],
  .myForm input[type="date"],
  .myForm select,
  .myForm textarea {
  display: block;
  width: 100%;
 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.9em;
  padding: 0.3em;
  }

  
  .myForm textarea {
  height: 100px;
  }

.emailModal{
  background-color: white;
}
  
  .myForm button,button {
  padding: 1em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  margin-top: 1em;
  background-color: #3D63F9;
    color: white;
  }

 .buttonRight {
  margin-right: 0%;
 }
 .contactForm {
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

.center{
position: absolute;
width: 80%;
left: 10%;
right: 0;
margin: 0 auto;
 }

  .myForm button:hover,button:hover {
  background: lightblue;
  cursor: pointer;
  }
.flex-container {
  gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.flex-child {
    flex: 1;
    border:solid black;
    border-width: 2px;
    padding: 0.2em;
  
    
}  

.flex-child:first-child {
    margin-right: 20px;
    border:none;
    padding: 0em;
   
   

    
} 
.emailModal{
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
}
